requests
beautifulsoup4
pandas
pyarrow
datasets
huggingface_hub
lxml
urllib3
matplotlib
sentence-transformers
faiss-cpu
fastapi
uvicorn
pyarrow
fastparquet

streamlit==1.37.0

pandas
numpy

plotly

scikit-learn
prophet

pyarrow
fastparquet

huggingface_hub

streamlit-extras
streamlit-option-menu
streamlit-aggrid
