/* ==================================================
   GLOBAL
================================================== */

.block-container{
    padding-top: 1rem;
    max-width: 1600px;
}

/* ==================================================
   HERO
================================================== */

.hero{
    background: linear-gradient(
        135deg,
        #2563eb,
        #1e40af
    );

    padding: 28px;

    border-radius: 18px;

    margin-bottom: 20px;

    color: white;
}

.hero h1{
    margin: 0;
    font-size: 36px;
    font-weight: 700;
}

.hero p{
    margin-top: 8px;
    opacity: 0.9;
}

/* ==================================================
   KPI
================================================== */

div[data-testid="stMetric"]{

    background: white;

    border-radius: 16px;

    padding: 14px;

    border: 1px solid #e5e7eb;

    box-shadow:
        0 4px 12px rgba(0,0,0,0.08);
}

/* ==================================================
   SIDEBAR
================================================== */

[data-testid="stSidebar"]{

    border-right:
        1px solid #e5e7eb;
}

/* ==================================================
   TABLE
================================================== */

[data-testid="stDataFrame"]{

    border-radius: 16px;

    overflow: hidden;
}

/* ==================================================
   PLOTLY
================================================== */

.js-plotly-plot{

    border-radius: 16px;

    overflow: hidden;
}